{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Admin Panel</h2>

<div class="card shadow">

    <div class="card-header bg-dark text-white">

        Registered Users

    </div>

    <div class="card-body">

        <table class="table table-bordered table-hover">

            <thead class="table-primary">

                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>

                </tr>

            </thead>

            <tbody>

            {% for user in users %}

                <tr>

                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>

                        {% if user[4] == "admin" %}

                            <span class="badge bg-danger">
                                Admin
                            </span>

                        {% else %}

                            <span class="badge bg-success">
                                Student
                            </span>

                        {% endif %}

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}
