{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>Student Login</h3>

</div>

<div class="card-body">

<form method="POST">

<div class="mb-3">

<label>Email</label>

<input
type="email"
name="email"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Password</label>

<input
type="password"
name="password"
class="form-control"
required>

</div>

<button class="btn btn-success w-100">

Login

</button>

</form>

</div>

</div>

</div>

</div>

{% endblock %}
