{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Submit Assignment</h2>

    <hr>

    <form method="POST" enctype="multipart/form-data">

        <div class="mb-3">

            <label class="form-label">Assignment Title</label>

            <input
                type="text"
                name="title"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label class="form-label">Course</label>

            <select
                name="course_id"
                class="form-select"
                required>

                {% for course in courses %}

                <option value="{{ course[0] }}">
                    {{ course[1] }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="mb-3">

            <label class="form-label">Choose File</label>

            <input
                type="file"
                name="file"
                class="form-control"
                required>

        </div>

        <button class="btn btn-success">
            Submit Assignment
        </button>

    </form>

</div>

{% endblock %}
